.fullBody {
  margin: 5px;
  background-color: darkslategray;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
}
button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: #444;
  color: #ff44cc;
  animation: box 3s infinite;
}
main {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 0px;
  border: 1px;
  justify-content: center;
}

app-square {
  border: 1px gray solid;
  height: 200px;
  margin: 2px;
}
